{% extends 'base.html.twig' %}

{% block body %}
<h1>Review view</h1>
<ul>
    {% for review in reviews %}
        <li><a href="{{ path('review_show', { 'id': review.id }) }}">show {{ review.id }}</a></li>
    {% endfor %}
    <li><a href="{{ path('review_new') }}">New review </a></li>
    <li><a href="/">Retun to homepage</a></li>
</ul>
{% endblock %}
